/* Add your CSS code below */

a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message {
  font-size: 0.9rem;
  line-height: 50px;
}

.message--unread {
  border-left: 2px solid blue;
}
.message:has(.message__time--old) {
  opacity: 0.5;
}
